<div class="col-sm-6">
<h1>Log In</h1>
<%= form_tag login_submit_path do %>
  <%= text_field_tag :email, params[:email], placeholder: 'Email', class: "form-control" %>
  <%= password_field_tag :password, nil, placeholder: 'Password', class: "form-control" %>
  <%= submit_tag 'Log In', class: "btn btn-primary" %>
<% end %>
</div>