<h1>Your friend list</h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
<% @friendships.each do |f| %>
      <td><%= f.friend %></td>
      <td><%= f.friend.email %></td>
    </tr>
<% end %>
  </table>

<%= link_to "User List", users_path, class: "btn btn-warning" %>